version: '3.8'

services:
  backend:
    image: 597727831172.dkr.ecr.us-east-1.amazonaws.com/nlp-backend:latest
    ports:
      - "8000:8000"
    env_file:
      - .env
    restart: always

  frontend:
    image: 597727831172.dkr.ecr.us-east-1.amazonaws.com/nlp-frontend:latest
    volumes:
      - ./load-testing:/app/load-testing
    ports:
      - "8501:8501"
    env_file:
      - .env
    environment:
      - BACKEND_URL=http://backend:8000 
    depends_on:
      - backend
    restart: always